$white: #dbdad4;
$black: #262626;

/* $font-primary: neue-haas-grotesk-display, sans-serif; */
$font-primary: roc-grotesk, sans-serif;
/* $font-primary: neue-haas-unica, sans-serif; */

/* $font-secondary: orpheuspro, serif; */
$font-secondary: calluna, serif;

$paragraph-mobile-tablet: 1rem;
$paragraph-desktop: 1.3rem;
