$white: #dbdad4;
$black: #262626;
$grey: #9a9996;
$divider-dark: #c2c1bc;

/* $font-primary: neue-haas-grotesk-display, sans-serif; */
$font-primary: roc-grotesk, sans-serif;
/* $font-primary: neue-haas-unica, sans-serif; */

/* $font-secondary: orpheuspro, serif; */
$font-secondary: calluna, serif;

$paragraph-mobile-tablet: 0.8rem;
$paragraph-desktop: 1rem;

$heading-desktop: 1.8rem;
